@tailwind base;
@tailwind components;
@tailwind utilities;




@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body .dark {
  background:#1f1d2b;
  
}

body .light {
  background-color: antiquewhite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Estilos generales de Tailwind */

.switch.active::after {
  right: 0;
  left: auto;
}

.after-switch {
  content: "";
  /* Otros estilos para el pseudo-elemento después del switch */
}

::-webkit-scrollbar {
  width: 7px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(174, 174, 174, 0.6);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(174, 174, 174, 1);
}

::-webkit-scrollbar-track {
  background-color: #484848;
}