* {
    font-family: 'Karla', sans-serif;
}

body {
    background-image: url('img/pexels-felix-mittermeier-956999.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(86,87,105);
}
body::-webkit-scrollbar-thumb{
background: rgb(53,53,65);
border-radius: 10px;
}

body::-webkit-scrollbar-thumb :hover{
background: #766767;
}

h1 {
    letter-spacing: 3px;
}
.avatar {
    margin: 0px 0px;
    height: 200px;
    width: auto;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}


.wrapper {
    flex: 1;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    width: 40%;/* Ancho del div */
    height: 70%; 
    min-width: 250px;
    margin: 0 auto;
    margin-top: 15px; /* Centrado horizontal */
    padding: 20px; /* Espacio interior */
    text-align: center;
    justify-content: center;
}
@media (max-width: 600px){
    .wrapper {
        width: 90%;
    }
}

.btn {
    flex: 2;
    width: 300px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    line-height: 1.5;
    margin: 30px auto;
    border-radius: 10px;
    min-width: 250px;
    padding: 12px 7px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000000;
    cursor:pointer;
    box-shadow: 0 0 1rem black;
}

.icons {
    background:transparent;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
}



A:visited {
    color: rgb(255, 255, 255);  
    font-family: arial; text-decoration: none;
}

A:visited i { 
    color: #ffffff;
    text-decoration: none;
}

.formulary {
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    width: 40%;/* Ancho del div */
    height: 70%; 
    margin: 0 auto;
    margin-top: 15px; /* Centrado horizontal */
    padding: 20px; /* Espacio interior */

}
@media (max-width: 600px){
    .formulary {
        width: 90%;
    }
}

.shortsImput {
    display: flex;
    width: 350px;
    justify-content: left;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    line-height: 1.5;
    margin: 10px auto;
    max-width: 350px;
    padding: 8px 7px;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    border:none;
    outline: none;
}

.send {
    display: flex;
    width: 350px;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    line-height: 1.5;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 350px;
    padding: 8px 7px;
    font-size: 18px;
    text-align: center;
    outline: none;
    cursor: pointer

}

.send:hover {
    background-color: #3b3b3b;
    color: white;
    border-color: white;
    transition: ease-in .2s;
}

@media (max-width: 600px){
    .send {
        width: 30%;
    }
}


    
textarea {
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: left;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    line-height: 1.5;
    margin: 10px auto;
    border-radius: 10px;
    min-width: 250px;
    padding: 5px 7px;
    font-size: 16px;
    text-align: left;
    outline: none;
    resize: none;
}
@media (max-width: 600px){
    textarea {
        width: 300px;
    }
}


textarea::-webkit-scrollbar {
background-color: #766767;
width: 8px;
border-radius: 30px;
}
textarea::-webkit-scrollbar-thumb{
    background: #3b3b3b;
    border-radius: 30px;
}

#sendEmail {
opacity: 0;
}

label {
    padding-left: 17%;
    margin-bottom: 6px;
    justify-content: left;
    text-align: left;
    margin-top:15px;
}

.upScroll {
    border: none;
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    margin: 10px auto;
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    outline: none;
    cursor: pointer
}