@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
background:#1f1d2b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos generales de Tailwind */

.switch.active::after {
  right: 0;
  left: auto;
}

.after-switch {
  content: "";
  /* Otros estilos para el pseudo-elemento después del switch */
}

